.center{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    margin: 100px auto auto;
    background: whitesmoke;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.narrow-center{
    width: 100%;
    max-width: 200px;
    margin: 0 auto auto;
    padding-top: 5px;
}

.left
{
    background-color: whitesmoke; /* Цвет фона слоя */
    padding: 10px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
    margin: 100px auto auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.padding100{
    padding: 100px;
}

.padding
{
    padding: 10px;
}

.button8
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    color: black;
    height: 40px;
    width: 250px;
    padding-top: 0;
    padding-bottom: 0;
    background: whitesmoke;
    transition: 0.2s;
    border-width: 0;
}

.button8:hover
{
    background: darkgray;
}

.button9
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    color: black;
    height: 40px;
    width: 100%;
    max-width: 700px;
    padding-top: 0;
    padding-bottom: 0;
    background: whitesmoke;
    transition: 0.2s;
    border-width: 0;
}

.button9:hover
{
    background: darkgray;
}

.button7
{
    color: white;
    padding: 7px;
    background: rgb(64,199,129);
    transition: 0.2s;
    border-width: 0px;
}

.button7:hover
{
    background: rgb(53, 167, 110);
}

.button7:active
{
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}