.center{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    margin: auto auto 50px;
    background: white;
}

.center-table {
    width: 100%;
    max-width: 90%;
    padding: 10px;
    margin: auto auto 50px;
    background: white;
}

.while-color-fill {
    background: white;
    fill: 100%;
    margin-bottom: 50px;
}

.hidden-center {
    width: 100%;
    max-width: 700px;
    margin: auto auto;
}

a {
    color: darkslateblue;
}

a:hover {
    color: dodgerblue;
}

body {
    margin: auto;
    padding-bottom: 0;
    height: auto;
    background-color: whitesmoke;
    link: dodgerblue;
}

input[type="text"], input[type="number"], input[type="password"] {
    width: 100%;
    border-radius: 4px;
    border: thin solid darkgrey;
    height: 35px;
}

textarea {
    width: 90%;
}

table {
    width: 100%;
}

.main-body {
    padding-top: 70px;
    padding-bottom: auto;
    margin-top: 20px;
}

.narrow-center{
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35%;
    padding-right: 35%;
}

.left
{
    padding: 10px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
    margin: auto auto 50px;
}

.right {
    background-color: white; /* Цвет фона слоя */
    padding: 10px; /* Поля вокруг текста */
    float: right; /* Обтекание по правому краю */
    width: 202px; /* Ширина слоя */
    margin: auto auto 50px;
}

.padding100{
    padding: 100px;
}

.padding
{
    padding: 10px;
}

.padding-top10 {
    padding: 10px 0 0 0;
    height: 0;
}

.button8
{
    color: black;
    height: 40px;
    width: 250px;
    min-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    background: white;
    transition: 0.2s;
    border-width: 0;
}

.button8:hover
{
    background: lightgray;
}

.button9
{
    color: black;
    height: 40px;
    width: 100%;
    max-width: 700px;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    transition: 0.2s;
    border-width: 0;
    border-top: 1px;
}

.button10:hover {
    background: whitesmoke;
}

.button10 {
    color: black;
    height: 30px;
    width: 100%;
    max-width: 100px;
    padding-top: 0;
    padding-bottom: 25px;
    background: white;
    transition: 0.2s;
    border-width: 0;
    border-top: 1px;
}

.button9:hover
{
    background: whitesmoke;
}

.button7
{
    color: gray;
    background-color: whitesmoke;
    height: 25px;
    padding: 0;
    width: 100%;
}

.text-left {
    text-align: left;
}

.button7:hover .button:active {
    background-color: whitesmoke;
    border-width: 0;
}

.gray {
    background: lightgray;
}

.color {
    background-color: cornflowerblue;
}

.color:hover, .color:active {
    background: cornflowerblue;
}

.navbar-default {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

/* title */
.navbar-default .navbar-brand {
    color: whitesmoke;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: lightgray;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: whitesmoke;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightgray;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: gray;
    background-color: whitesmoke;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: whitesmoke;
    background-color: royalblue;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
