.center{
    width: 100%;
    max-width: 700px;
    padding: 10px;
    margin: auto auto 50px;
    background: white;
}

.hidden-center {
    width: 100%;
    max-width: 700px;
    padding: auto auto 10px 10px;
    margin: auto auto 50px;
}

a {
    color: darkslateblue;
}

a:hover {
    color: dodgerblue;
}

body {
    margin: auto;
    padding-bottom: 0;
    height: auto;
    background-color: whitesmoke;
    link: dodgerblue;
}

input[type="text"] {
    width: 90%;
    border-radius: 4px;
    border: thin solid darkgrey;
    height: 35px;
}

input[type="number"] {
    width: 90%;
    border-radius: 3px;
    border: thin solid darkgrey;
    height: 35px;
}

input[type="password"] {
    width: 90%;
    border-radius: 3px;
    border: thin solid darkgrey;
    height: 35px;
}

textarea {
    width: 90%;
}

table {
    width: 100%;
}

.main-body {
    padding-top: 70px;
    padding-bottom: auto;
    margin-top: 20px;
}

.narrow-center{
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35%;
    padding-right: 35%;
}

.left
{
    background-color: white; /* Цвет фона слоя */
    padding: 10px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
    margin: auto auto 50px;
}

.padding100{
    padding: 100px;
}

.padding
{
    padding: 10px;
}

.button8
{
    color: black;
    height: 40px;
    width: 250px;
    min-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    background: white;
    transition: 0.2s;
    border-width: 0;
}

.button8:hover
{
    background: lightgray;
}

.button9
{
    color: black;
    height: 40px;
    width: 100%;
    max-width: 700px;
    padding-top: 0;
    padding-bottom: 0;
    background: white;
    transition: 0.2s;
    border-width: 0;
    border-top: 1px;
}

.button10:hover {
    background: whitesmoke;
}

.button10 {
    color: black;
    height: 30px;
    width: 100%;
    max-width: 100px;
    padding-top: 0;
    padding-bottom: 25px;
    background: white;
    transition: 0.2s;
    border-width: 0;
    border-top: 1px;
}

.button9:hover
{
    background: whitesmoke;
}

.button7
{
    color: white;
    padding: 7px;
    background: cornflowerblue;
    transition: 0.2s;
    border-width: 0;
    text-decoration: none;
}

.button7:hover
{
    background: gray;
}

.button7:active
{
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.color {
    background-color: cornflowerblue;
}