{% extends "base.html" %}
{% block title %}Блокировка и редактирование пользователей{% endblock %}
{% block content %}
    <table class="center">
        <tr class="padding">
            <td class="padding">Логин:</td>
            <td class="padding">ФИО:</td>
            <td class="padding">Электронная почта:</td>
        </tr>
        {% for blc in blocked_accounts %}
            <tr class="padding">
                <td>{{ blc.username }}</td>
                <td>{{ blc.surname }} {{ blc.name }}</td>
                <td>{{ blc.email }}</td>
                <td>
                    <a href="edituseradmin/{{ blc.id }}">Редактировать</a>
                </td>
                {% if blc.is_active %}
                    <td>
                        <a href="createblock/{{ blc.id }}"><font color="red">Заблокировать</font></a>
                    </td>
                {% else %}
                    <td>
                        <a href="un/{{ blc.id }}"><font color="#adff2f">Разблокировать(Не сделано)</font></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}