{% extends "base.html" %}
{% block title %}Редактирование личных данных{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr><td><button type="submit" class="button7">Сохранить</button></td></tr>
        </table>
    </form>
    <table class="center">
        <tr class="padding">
            <td>
                <a href="/refill_balance_admin/{{ id_user }}">Пополнить баланс пользователя</a>
            </td>
        </tr>
    </table>
{% endblock %}