{% extends "base.html" %}
{% block title %}Администраторский модуль{% endblock %}
{% block content %}
    <div class="left">
        <table>
        </table>
    </div>

    <div class="center">
        <table>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'AddCard' %}">Создать учетную запись(Не сделано)</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'BlockAccounts' %}">Блокировка и редактирование учетных записей</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'AddCard' %}">Изменение курсов валют(Не сделано)</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'AddCard' %}">Штрафы(Не сделано)</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}