{% extends "base.html" %}
{% block title %}Администраторский модуль{% endblock %}
{% block content %}
    <div class="center">
        <table>
            <tr class="padding">
                <td class="padding">
                    <a href="register">Создать новую учетную запись</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'BlockAccounts' %}">Блокировка и редактирование учетных записей</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'AllCurrency' %}">Изменение курсов валют</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}