{% extends "base.html" %}
{% block title %}Пополнение баланса пользователя{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" id="butRefill" class="btn btn-outline-success" value="Пополнить баланс пользователя">
    </form>
{% endblock %}