{% extends "base.html" %}
{% block title %}Добавление автоматического платёжа{% endblock %}
{% block content %}
    <script>window.onload = function () {
        function func(id) {
            if (id != null) {
                document.getElementById('id_quick_payment').value = id
            }
        }

        func({{ pay.id }})
    }
    </script>
    <form method="post">
        {% csrf_token %}
        <div class="center">
            <div>
                {% for field in form %}
                    <div class="row padding">
                        <div class="col-md-6">{{ field.label }}</div>
                        {% if field.label == 'Платеж:' %}
                            <div class="col-md-6">{% if pay %}
                                <a href="/profile/quickpayment/?type=addautopayment" class="btn btn-primary btn-block">
                                    Быстрый платеж №{{ pay.id }}</a>
                                {{ field }}
                    {% else %}
                                <a href="/profile/quickpayment/?type=addautopayment" class="btn btn-primary btn-block">Выберите
                                    платеж</a>
                            {% endif %}</div>
                        {% else %}
                            <div class="col-md-6">{{ field }}</div>
                    {% endif %}
                    </div>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-outline-success btn-block">Создать</button>
        </div>
    </form>
{% endblock %}