{% extends "base.html" %}
{% block title %}Поиск жилья{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button class="btn btn-outline-primary btn-block btn-sm" type="submit">Поиск</button>
                </td>
            </tr>
        </table>
    </form>

    <table class="center">
        {% if results %}
            <tr>
                <td class="padding">
                    <b id="fon">Результаты поиска:</b>
                </td>
            </tr>
            {% for res in results %}
                <tr>
                    <td class="padding">
                        <a href="/aboutHouse/{{ res.id }}">{{ res.name }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if no_rez and not error %}
            <tr>
                <td class="padding">
                    <b id="fon">{{ no_rez }}</b>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}