{% extends "base.html" %}
{% block title %}Поиск пользователя{% endblock %}
{% block content %}
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button class="btn btn-outline-primary btn-block btn-sm" type="submit">Поиск</button>
                </td>
            </tr>
        </table>
    </form>

    <table class="center">
        {% if results %}
            <tr>
                <td class="padding">
                    <b id="fon">Результаты поиска:</b>
                </td>
            </tr>
            {% for res in results %}
                <tr>
                    <td class="padding">
                        <a href="/aboutUser/{{ res.id }}">{{ res.username }}</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

        {% if no_rez %}
            <tr>
                <td class="padding">
                    <b id="fon">{{ no_rez }}</b>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}