{% extends "base.html" %}
{% block title %}Модуль модератора{% endblock %}
{% block content %}
    <div class="center">
        <table>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'AllPenalties' %}">Система штрафов</a>
                </td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="{% url 'BlockAccounts' %}">Блокировка и редактирование учетных записей</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}