{% extends "base.html" %}
{% block title %}Информация об арендуемом оъектке{% endblock %}
{% block content %}
    <div class="center">
        <table class="table">
            <tr class="padding">
                <td class="padding">Название:</td>
                <td>{{ rent.name }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Адрес:</td>
                <td>{{ rent.address }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Время аренды(дней):</td>
                <td>{{ rent.min_rent_time }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Площадь(кв.м.):</td>
                <td>{{ rent.area }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Дата постройки:</td>
                <td>{{ rent.date_of_construction }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Дата создания обьявления:</td>
                <td>{{ rent.creation_date }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Описание:</td>
                <td>{{ rent.other }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Цена(BYN):</td>
                <td>{{ rent.cost }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">
                    <a href="aboutUser/{{ rent.user_login.id }}">Отобразить информацию об арендаторе</a>
                </td>
                <td></td>
            </tr>
        </table>
        {% if rent.status_rent and not request.user.is_anonymous %}
            <button onclick="rent({{ rent.id }})" class="btn btn-outline-success btn-block" data-toggle="modal"
                    data-target="#myModal">Арендовать
            </button>
        {% endif %}
    </div>

        {% if images %}
            {% for image in images %}
                <table class="center">
                    <tr class="padding" align="center" >
                        <td class="padding">
                            <img src="{{ image.model_pic.url }}" alt="HouseView" style="width:500px;height:400px;">
                        </td>
                    </tr>
                    <tr class="padding" align="center" >
                        <td class="padding">
                            {{ image.name }}
                        </td>
                    </tr>
                    <tr class="padding" align="center" >
                        <td class="padding">
                            {{ image.describe }}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <table class="center">
            <tr class="padding">
                <td class="padding" style="text-align: center">
                    Фотографий нет
                </td>
            </tr>
            </table>
        {% endif %}
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="input_func()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>

    </div>
    <script src="/static/javascript/get.js"></script>
    <script>
        function rent(id) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('/makeRent/' + id);
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Аренда';
        }
    </script>
{% endblock %}