{% extends "base.html" %}
{% block title %}Информация о пользователе{% endblock %}
{% block content %}
        <table class="center">
            <tr class="padding">
                <td class="padding">Логин:</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">ФИО:</td>
                <td>{{ user.surname }} {{ user.name }} {{ user.last_name }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Возраст:</td>
                <td>{{ user.age }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Номер телефона:</td>
                <td>{{ user.phone }}</td>
            </tr>
            <tr class="padding">
                <td class="padding">Адрес:</td>
                <td>{{ user.address }}</td>
            </tr>
            {% if request.user.ie %}
                <tr class="padding">
                    <td class="padding">Лицензия:</td>
                    <td>{{ user.license_field }}</td>
                </tr>
                <tr class="padding">
                    <td class="padding">УНН:</td>
                    <td>{{ user.taxpayer_account_number }}</td>
                </tr>
            {% endif %}

            {% if not user.is_active %}
                <tr class="padding">
                    <td class="center" colspan="2" align="center"><font color="red">Пользователь заблокирован</font></td>
                </tr>
            {% endif %}
        </table>

    <table class="center">
        <tr class="padding">
            <td class="padding">
                <a href="/make_complaint/{{ user.id }}">Жалоба</a>
            </td>
        </tr>
    </table>

    {% csrf_token %}
    <script src="/static/javascript/post_comment.js"></script>
    <table class="center">
        {% if request.user.is_anonymous %}
            <tr>
                <td>Чтобы написать комментарий <a href="/login">войдите</a> или <a
                        href="/register">зарегистрируйтесь.</a></td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <textarea placeholder="Введите отзыв о пользователе..." cols="70" rows="3px" id="comment" maxlength="100"></textarea>
                </td>
                <td>
                    <button type="button" class="btn btn-default" onclick="func()">Отправить</button>
                </td>
            </tr>
        {% endif %}
    </table>
    <table class="center" id="response">
        {% for c in com %}
            <tr class="padding">
                <td class="padding">{{ c.login_user_from }}</td>
                <td>{{ c.date }}</td>
                <td>{{ c.text_com }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}