{% extends "base.html" %}
{% block title %}Загрузка фотографии{% endblock %}
{% block content %}
    <form class="center" action="/add_image/{{ id_house }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <table>
                <tr class="padding">
                    <td>
                        <label class="btn btn-outline-secondary btn-file">
                            Выбрать <input id="id_image" name="image" type="file" style="display: none;">
                        </label>
                    </td>
                </tr>
                <tr class="padding">
                    <td class="padding">
                        Название фото:
                    </td>
                    <td>
                        <input id="id_name" type="text" name="name">
                    </td>
                </tr>
                <tr class="padding">
                    <td class="padding">
                        Описание фото:
                    </td>
                    <td>
                        <input id="id_describe" type="text" name="describe">
                    </td>
                </tr>
            </table>
        <input type="submit" class="btn btn-outline-success btn-block" value="Сохранить"/>
        </form>
{% endblock %}