{% csrf_token %}
<div>
            {% for field in form %}
                <div class="row">
                    <div class="col-md-6">{{ field.label }}</div>
                    <div class="col-md-6">{{ field }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h6>
                            <small class="text-danger" id={{ field.name }}></small>
                        </h6>
                    </div>
                </div>
            {% endfor %}
</div>
<button id="butRefill" class="btn btn-outline-success btn-block" onclick="add_card()">Добавить карту</button>
<div id="response"></div>