{% extends "base.html" %}
{% block title %}Сохранение отзыва{% endblock %}
{% block content %}
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr><td><button type="submit" class="button7">Сохранить отзыв</button></td></tr>
        </table>
    </form>
{% endblock %}