{% extends "base.html" %}
{% block title %}Все отзывы о пользователе{% endblock %}
{% block content %}
    {% if user_comments %}
        <table class="center">
            <tr class="padding">
                <td class="padding">От пользователя</td>
                <td>Комментарий</td>
                <td>Дата</td>
            </tr>
            {% for com in user_comments %}
                <tr class="padding">
                    <td class="padding">{{ com.login_user_from}}</td>
                    <td>{{ com.text_com }}</td>
                    <td>{{ com.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <table class="center">
            <tr class="padding">
                <td class="padding">О пользователе пока нет отзывов</td>
            </tr>
        </table>
    {% endif %}
{% endblock %}