{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <table class="center">
        <tr class="padding">
            <td class="padding">
                Введите старый пароль:
                <input type="text" title="OldPassword">
            </td>
        </tr>
        <tr class="padding">
            <td class="padding">
                Введите новый пароль:
                <input type="text" title="NewPasswordFirst">
            </td>
        </tr>
        <tr class="padding">
            <td class="padding">
                Повторите новый пароль:
                <input type="text" title="NewPasswordSecond">
            </td>
        </tr>
        <tr class="padding">
            <td class="padding">
                <a href="">Сменить пароль(Не сделано)</a>
            </td>
        </tr>
    </table>
{% endblock %}