{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
    <form method="post" class="center">
    {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit" class="btn btn-default">Вход</button>
                </td>
            </tr>
            {% if error %}
                <div class="left">
                    <table>
                        <tr>
                            <td>
                                <span style="color: red; ">{{ error }}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        </table>
    </form>
{% endblock %}