{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
    <table class="center">
        <tr class="padding">
            <td class="padding">
                <a href="{% url 'Comment' %}">Отзывы о сайте</a>
            </td>
            <td class="padding">
                <a href="/make_complaint/0">Написать модераторам</a>
            </td>
        </tr>
    </table>

    <table class="center table table-striped">
        <thead class="padding">
        <tr>
            <td class="padding">Название</td>
            <td>Адрес</td>
            <td>Срок аренды(Дней)</td>
            <td>Цена(BYN)</td>
            <td>Площадь(кв.м.)</td>
        </tr>
        </thead>
        {% for r in rent %}
            <tr>
                <td class="padding"><a href="aboutHouse/{{ r.id }}">{{ r.name }}</a></td>
                <td>{{ r.address }}</td>
                <td>{{ r.min_rent_time }}</td>
                <td>{{ r.cost }}</td>
                <td>{{ r.area }}</td>
                {% if not request.user.ie %}
                    {% if r.status_rent %}
                        <td class="padding"><a href="makeRent/{{ r.id }}">Аренда</a></td>
                    {% else %}
                        <td class="padding"><font color="#a9a9a9">Арендовано</font></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}