{% extends "base.html" %}
{% block title %}Подача жалобы на пользователя{% endblock %}
{% block content %}
    <div class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td class="padding-bottom10">{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button id="submit" onclick="submit_once()" class="btn btn-outline-success btn-block">Отправить</button>
        <div id="response"></div>
    </div>
    <script src="/static/javascript/post_choose_payment.js"></script>
{% endblock %}