{% extends "base.html" %}
{% block title %}Подача жалобы{% endblock %}
{% block content %}
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr class="padding">
                <td class="padding" align="center" colspan="2">
                    <button type="submit" class="btn btn-outline-primary btn-block btn-sm">Отправить</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
