{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <div id="myModal" class="modal">

        <!-- Modal content -->
        {% csrf_token %}
        {% load filter_extra %}
        <div class="modal-content">
            <span class="close">&times;</span>
            {% for card, user_card in cards %}
                <input type="button" class="button8" onclick="func({{ user_card.card_num }})"
                       value="{{ card }}">
            {% endfor %}
            <input type="button" class="button8" onclick="func('{{ request.user.username }}')"
                   value="Кошелек">
            <table>
                <tr>
                    <td>Сохранить платеж</td>
                    <td>
                        <input class="narrow" type="checkbox" id="check_box" title="Сохранить текущий платеж">
                    </td>
                    <td>
                        <input type="text" id="amount" placeholder="Сумма" title="Сумма">
                    </td>
                </tr>
            </table>
            <div id="mon_notification" class="light_gray"></div>

            <div id="response" class="narrow-center"></div>
            <div id="rent" class="hidden"></div>
            <div id="user" class="hidden"></div>
            <div id="mon_value" class="hidden">{{ mon }}</div>
        </div>

    </div>
    {% if not request.user.is_admin and not request.user.is_moder %}
        <div class="right">
            <table>
                {% for card, user_card in cards %}
                    <tr>
                        <td>{{ card }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <a class="btn button7 form-control" href="{% url 'AddCard' %}">Добавить карту</a>
                    </td>
                </tr>
            </table>

        {% if penalties %}
            <table>
                <tr>
                    <td>
                        <a href="{% url 'MyPenalties' %}"><span style="color: red; ">У вас штраф!</span></a>
                    </td>
                </tr>
            </table>
        {% endif %}
        </div>
    {% endif %}

    <div class="left">
        <table>
            <tr>
                <td class="padding">
                    <button id="hover" class="btn"><img src="/static/img/wallet.png"
                                                        class="img_size_wallet"> {{ balance }} BYN
                    </button>
                </td>
            </tr>
        {% if not request.user.is_admin and not request.user.is_moder %}
            {% if request.user.ie %}
                <tr>
                    <td class="padding">
                        <a class="btn button7 text-left form-control" href="{% url 'UnfillBalance' %}">Вывод средств</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="padding">
                        <a class="btn button7 text-left form-control" href="{% url 'RefillBalance' %}">Пополнить
                            счет</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="padding">
                    {% if new %}
                        <a class="btn button7 text-left form-control" href="{% url 'Mails' %}">Оповещения <span
                                style="color: red; ">(New +{{ number }})</span></a>
                    {% else %}
                        <a class="btn button7 text-left form-control" href="{% url 'Mails' %}">Оповещения </a>
                    {% endif %}
                </td>
            </tr>

            {% if request.user.ie %}
                <tr>
                    <td class="padding">
                        <a class="btn button7 text-left form-control" href="{% url 'MyAllHousesOwner' %}">Объявления</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="padding">
                    <a class="btn button7 text-left form-control" href="{% url 'ExtractBalance' %}">Транзакции</a>
                </td>
            </tr>
            <tr>
                <td class="padding">
                    <a class="btn button7 text-left form-control" href="{% url 'AutoPayment' %}">Автоплатеж</a>
                </td>
            </tr>
            <tr>
                <td class="padding">
                    <a class="btn button7 text-left form-control" href="{% url 'QuickPayment' %}">Быстрый платеж</a>
                </td>
            </tr>
        {% endif %}
            <tr>
                <td class="padding">
                    <a class="btn button7 text-left form-control" href="{% url 'EditProfile' %}">Настройки</a>
                </td>
            </tr>
        </table>
    </div>

    {% if my_rents %}
        <div class="hidden-center">
            {% for rent in my_rents %}
                <div class="while-color-fill padding">
                    <table class="table">
                        <tr class="padding">
                            <td class="padding">
                                <a href="aboutHouse/{{ rent.id_house.id }}">Информация о доме</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">Дата начала аренды:</td>
                            <td class="padding">{{ rent.date_rent }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Стоимость(BYN):</td>
                            <td class="padding">{{ rent.cost }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Стоимость с комиссией(BYN):</td>
                            <td class="padding">{{ rent.cost|mon_cost:mon }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Комиссия:</td>
                            <td class="padding">{{ mon|percentage }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Дата следующей оплаты:</td>
                            <td class="padding">{{ rent.next_payment_date }}</td>
                        </tr>
                    </table>
                    <button class="btn btn-outline-success btn-block"
                            onclick="choose_rent({{ rent.id }}, '{{ rent.id_house.user_login }}')">Оплатить
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <table class="center">
            <tr class="padding">
                <td class="padding">
                    Арендуемых домов нет
                </td>
            </tr>
        </table>
    {% endif %}
    <script>
        // Get the modal
        var modal = document.getElementById('myModal');


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        function choose_rent(id, username) {
            modal.style.display = "block";
            var rent_id = document.getElementById('rent');
            var user = document.getElementById('user');
            rent_id.innerHTML = id;
            user.innerHTML = username;
        }
        function input_func() {
            var amount = document.getElementById('amount');
            amount.value = "";
            amount.className = "form-control height70 formValid";
            amount.placeholder = "Сумма";
            amount.style.borderColor = "lightgray";
            var mon_notification = document.getElementById('mon_notification').innerHTML = "";
            document.getElementById('response').innerHTML = ""
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
            input_func()
        };

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                input_func()
            }
        };
    </script>
    <script src="/static/javascript/post_choose_payment.js"></script>


{% endblock %}