{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}

    {% csrf_token %}
    {% load filter_extra %}
    {% if not request.user.is_admin and not request.user.is_moder %}
        <div class="right">
            <table>
                {% for card, user_card in cards %}
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm btn-group-justified btn-block" role="group"
                                 aria-label="...">
                                <button type="button" value="{{ card }}"
                                        class="change btn btn-info text-center b1">{{ card }}</button>
                                <button data-toggle="modal" data-target="#myModal"
                                        onclick="del_card_click({{ user_card.id }})"
                                        class="btn btn-outline-danger b2">&times;</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <button class="btn btn-outline-primary btn-block btn-sm" data-toggle="modal"
                                data-target="#myModal" onclick="add_card_click()">Добавить карту
                        </button>
                    </td>
                </tr>
            </table>

        {% if penalties %}
            <table>
                <tr>
                    <td>
                        <a href="{% url 'MyPenalties' %}"><span style="color: red; ">У вас штраф!</span></a>
                    </td>
                </tr>
            </table>
        {% endif %}
        </div>
    {% endif %}

    <div class="left">
        <table>
            <tr>
                <td>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <button type="button" class="btn btn-info">{{ balance }} BYN</button>
                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal"
                                onclick="fill_balance_click(1)">+
                        </button>
                    </div>
                </td>
            </tr>
        {% if not request.user.is_admin and not request.user.is_moder %}
            <tr>
                <td class="padding-top-bottom10">
                    <button class="btn button7 text-left" data-toggle="modal" data-target="#myModal"
                            onclick="fill_balance_click(0)">Вывод средств
                    </button>
                </td>
            </tr>
            <tr>
                <td class="padding-top-bottom10">
                    {% if new %}
                        <a class="btn button7 text-left form-control" href="{% url 'Mails' %}">Оповещения <span
                                class="tag tag-pill tag-danger">{{ number }}</span></a>
                    {% else %}
                        <a class="btn button7 text-left" href="{% url 'Mails' %}">Оповещения </a>
                    {% endif %}
                </td>
            </tr>

            {% if request.user.ie %}
                <tr>
                    <td class="padding-top-bottom10">
                        <a class="btn button7 text-left" href="{% url 'MyAllHousesOwner' %}">Объявления</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="padding-top-bottom10">
                    <a class="btn button7 text-left" href="{% url 'ExtractBalance' %}">Транзакции</a>
                </td>
            </tr>
            {% if not request.user.ie %}
            <tr>
                <td class="padding-top-bottom10">
                    <a class="btn button7 text-left" href="{% url 'AutoPayment' %}">Автоплатеж</a>
                </td>
            </tr>
            <tr>
                <td class="padding-top-bottom10">
                    <a class="btn button7 text-left" href="{% url 'QuickPayment' %}">Быстрый платеж</a>
                </td>
            </tr>
            {% endif %}
        {% endif %}
            <tr>
                <td class="padding-top-bottom10">
                    <a class="btn button7 text-left" href="{% url 'EditProfile' %}">Настройки</a>
                </td>
            </tr>
        </table>
    </div>

    {% if my_rents %}
        <div class="hidden-center">
            {% for rent in my_rents %}
                <div class="while-color-fill padding">
                    <table class="table">
                        <tr class="padding">
                            <td class="padding">
                                <a href="aboutHouse/{{ rent.id_house.id }}">Информация о доме</a>
                            </td>
                            <td>
                                <button class="close" data-toggle="modal" data-target="#myModal"
                                        onclick="del_rent_click({{ rent.id }})" style="color: red">&times;</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="padding">Дата начала аренды:</td>
                            <td class="padding">{{ rent.date_rent }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Стоимость:</td>
                            <td class="padding">{{ rent.cost }} BYN</td>
                        </tr>
                        <tr>
                            <td class="padding">Стоимость с комиссией:</td>
                            <td class="padding">{{ rent.cost|mon_cost:mon }} BYN</td>
                        </tr>
                        <tr>
                            <td class="padding">Комиссия:</td>
                            <td class="padding">{{ mon|percentage }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Дата следующей оплаты:</td>
                            <td class="padding">{{ rent.next_payment_date }}</td>
                        </tr>
                        <tr>
                            <td class="padding">Оплачено:</td>
                            <td class="padding">{{ rent.payed_until_time|round_f }} BYN</td>
                        </tr>
                        <tr>
                            {% if rent.fine > 0 %}
                                <td class="padding">Пеня:</td>
                                <td class="padding" style="color: red">{{ rent.fine|round_f }} BYN</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <button class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#myModal"
                            onclick="choose_rent({{ rent.id }}, '{{ rent.id_house.user_login }}')">Оплатить
                    </button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <table class="center">
            <tr class="padding">
                <td class="padding">
                    Арендуемых домов нет
                </td>
            </tr>
        </table>
    {% endif %}

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="input_func()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>

    </div>
    </div>


    <script src="/static/javascript/get.js"></script>
    <script>
        function choose_rent(id, username) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('choose_payment/' + id);
            var rent_id = document.getElementById('rent');
            var user = document.getElementById('user');
            var mon = document.getElementById('mon_value');
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Выберите способ оплаты';
            rent_id.innerHTML = id;
            user.innerHTML = username;
            mon.innerHTML = {{ mon|stringformat:"f" }};
        }

        function fill_balance_click(type) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('refillbalance/?type=' + type);
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Выберите карту';
        }

        function add_card_click() {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('add_card/');
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Введите данные';
        }
        function del_rent_click(id) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('close_rent/' + id);
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Закрытие аренды';
        }
        function del_card_click(id) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('delete_card/' + id);
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Удаление карты';
        }
    </script>
    <script src="/static/javascript/post_choose_payment.js"></script>


{% endblock %}