{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
    <div class="center">
        <p><b id="fon">Добро пожаловать, {{ request.user.username }} </b><br>
    </div>
    <div class="center">
        <a href="{% url 'ChangePassword' %}">Сменить пароль</a>
        <p><input type="button" value="Пополнить счет" onclick=""></p>
        <p><input type="button" value="Сменить почтовый ящик"></p>
        <p><input type="button" value="Редактировать данные"></p>
    </div>


{% endblock %}