{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
        <form method="POST" class="center">
            {% csrf_token %}
            <script src="/static/javascript/change_value_on_change_ie.js"></script>
            {% if error %}
                <div class="left">
                    <table>
                        <tr>
                            <td>
                                <font color="red">{{ error }}</font>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            <table>
                {% for field in form %}
                    {% if field.label == 'УНН' %}
                        <tr>
                            <td class="padding" id="hid1">{{ field.label }}</td>
                            <td>{{ field }}(Есть некоторые проблемы с require)</td>
                        </tr>

                    {% elif field.label == 'Лицензия' %}
                        <tr>
                            <td class="padding" id="hid2">{{ field.label }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="padding">{{ field.label }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr><td><button type="submit" class="button7">Регистрация</button></td></tr>
            </table>
        </form>

{% endblock %}
