{% extends "base.html" %}
{% block title %}Пополнение баланса{% endblock %}
{% block content %}
    <table class="center">
        <tr class="padding">
            <td class="padding">
                {{ mes }}
            </td>
        </tr>
        <tr class="padding">
            <td class="padding">
                <a href="{% url 'Profile' %}">Личный кабинет</a>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        window.setTimeout(function() {
            var new_url = "http://{{ redirect_address }}:8080/config";
            window.location.replace(new_url)
    }, 1000);
    </script>
{% endblock %}