{% extends "base.html" %}
{% block title %}Мои аренды{% endblock %}
{% block content %}
        {% if my_rents %}
            {% for rent in my_rents %}
                <table class="center">
                    <tr class="padding">
                        <td class="padding">
                            <a href="aboutHouse/{{ rent.id_house}}">Информация о доме</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding">Дата начала аренды:</td>
                        <td class="padding">{{ rent.date_rent }}</td>
                    </tr>
                    <tr>
                        <td class="padding">Стоимость(BYN):</td>
                        <td class="padding">{{ rent.cost }} + Комиссия</td>
                    </tr>
                    <tr>
                        <td class="padding">Выплат должно быть(на текущий месяц):</td>
                        <td class="padding">{{ rent.pay_number }}</td>
                    </tr>
                    <tr>
                        <td class="padding">Выплат проведено:</td>
                        <td class="padding">{{ rent.paid_user }}</td>
                    </tr>

                    <tr class="padding">
                        <td class="padding">
                            <a href="choose_payment/{{ rent.id }}">Оплатить</a>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <table class="center">
                <tr class="padding">
                    <td class="padding">
                        Арендуемых домов нет
                    </td>
                </tr>
            </table>
        {% endif %}
{% endblock %}