{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
        <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                {% if error != '' %}
                    <td class="padding">{{ error }}</td>
                {% endif %}
                <td>
                    <button type="submit" class="button7">Сменить пароль</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}