{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <table class="left">
        <tr>
            <td class="padding">
                <a class="btn button7 text-left form-control" href="{% url 'EditProfile' %}">Назад</a>
            </td>
        </tr>
    </table>
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-outline-warning btn-block">Сменить пароль</button>
    </form>

    {% if error %}
        <table class="center">
            <tr class="padding">
                <td>
                    <font color="red">{{ error }}</font>
                </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}