{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit" class="button7">Сменить пароль</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}