{% extends "base.html" %}
{% block title %}Оплата{% endblock %}
{% block content %}
    {% csrf_token %}
    <script src="/static/javascript/post_choose_payment.js"></script>
    <div class="narrow-center">
        {% for card, card_num in cards %}
            <input type="button" class="button8" onclick="func({{ card.card_num }}, '{{ balance_to }}', {{ id }})"
                   value="{{ card_num }}">
        {% endfor %}
        <input type="button" class="button8" onclick="func('{{ request.user.username }}', '{{ balance_to }}', {{ id }})"
               value="Кошелек">
        <table class="button8">
        <tr>
            <td class="padding">Сохранить платеж</td>
            <td>
                <input type="checkbox" id="check_box" title="Сохранить текущий платеж">
            </td>
        </tr>
    </table>
        <table class="button8">
            <tr>
                <td class="padding">Сумма</td>
                <td>
                    <input type="number" id="amount" title="Сумма">
                </td>
            </tr>
        </table>
    </div>
    <div id="response" class="narrow-center"></div>
{% endblock %}