{% load filter_extra %}
<div id="PayRent">
    {% for card, user_card in cards %}
        <input type="button" class="button8" onclick="pay_rent({{ user_card.card_num }})"
               value="{{ card }} ({{ user_card.size|round_f }} {{ user_card.currency_type }})">
    {% endfor %}
    <input type="button" class="button8" onclick="pay_rent('{{ request.user.username }}')"
           value="Кошелек ({{ request.user.balance|round_f }} BYN)">
    <table>
        <tr>
            <td>Сохранить платеж</td>
            <td>
                <input class="narrow" type="checkbox" id="check_box" title="Сохранить текущий платеж">
            </td>
            <td>
                <input class="form-control height70 formValid" onfocus="amount_onfocus()" oninput="amount_oninput()"
                       type="text" id="amount" placeholder="Сумма" title="Сумма">
            </td>
        </tr>
    </table>
    <div id="mon_notification" class="light_gray"></div>
    <div id="rent" class="hidden"></div>
    <div id="user" class="hidden"></div>
    <div id="mon_value" class="hidden"></div>
    <div id="response" class="narrow-center"></div>
</div>