{% extends "base.html" %}
{% block title %}Удаление аккаунта{% endblock %}
{% block content %}
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            <tr class="padding">
                <td class="padding">
                    Вы уверены?
                </td>
            </tr>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-outline-danger btn-block">Удалить аккаунт</button>
    </form>

    {% if error %}
        <table class="center">
            <tr class="padding">
                <td>
                    <span style="color: red; ">{{ error }}</span>
                </td>
            </tr>
        </table>
    {% endif %}



{% endblock %}