{% if payments %}
    <a class="text-center">К данной карте привязаны следующие платежи: </a>
    {% for p in payments %}
        <div>
            <button class="button8">Быстрый платеж {{ p.id }}</button>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        <a class="text-center">Вы уверены?</a>
    </div>
</div>
    {% csrf_token %}
<input id="submit" onclick="redirect('delete_card/{{ id }}')" class="btn btn-outline-danger btn-block" value="Удалить">
