{% extends "base.html" %}
{% block title %}Удаление аккаунта{% endblock %}
{% block content %}
    <table class="left">
        <tr>
            <td class="padding">
                <a class="btn button7 text-left form-control" href="{% url 'EditProfile' %}">Назад</a>
            </td>
        </tr>
    </table>
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            <tr class="padding">
                <td class="padding">
                    Вы уверены?
                </td>
            </tr>
        {% if request.user.balance != 0 %}
            <tr class="padding">
                <td class="padding">
                    Баланс: {{ balance }} BYN
                </td>
            </tr>
        {% endif %}
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                {% if error != '' %}
                    <td class="padding">{{ error }}</td>
                {% endif %}

        </table>
        <button type="submit" class="btn btn-outline-danger btn-block">Удалить аккаунт</button>
    </form>

{% endblock %}