{% extends "base.html" %}
{% block title %}Редактирование дома{% endblock %}
{% block content %}
    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit" class="button7">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>

    {% if images %}
        {% for image in images %}
            <table class="center">
                <tr class="padding" align="center" >
                    <td class="padding">
                        <img src="{{ image.model_pic.url }}" alt="HouseView" style="width:500px;height:400px;">
                    </td>
                </tr>
                <tr class="padding" align="center" >
                    <td class="padding">
                        {{ image.name }}
                    </td>
                </tr>
                <tr class="padding" align="center" >
                    <td class="padding">
                        {{ image.describe }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <tr class="padding">
            <td class="padding">
                Фотографий нет
            </td>
        </tr>
    {% endif %}

    <table class="center">
        <tr class="padding" align="center">
            <td>
                <a href="/add_image/{{ id_house }}">Добавить фото</a>
            </td>
        </tr>
    </table>
{% endblock %}