{% extends "base.html" %}
{% block title %}Получить выписку о балансе{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="center">
            {% for field in form %}
                <div class="row">
                    <div class="padding col-md-6">{{ field.label }}</div>
                    <div class="col-md-6">{{ field }}</div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="padding">
                    <button type="submit" class="btn btn-default">Получить выписку</button>
                </div>
            </div>
        </div>

        {% if result %}
            <table class="table table-hover table-bordered center-table">
                <thead>
                <tr class="padding">
                    <td class="padding text-center lead gray">Наименование операции</td>
                    <td class="text-center lead gray">Описание операции</td>
                    <td class="text-center lead gray">Дата операции</td>
                </tr>
                </thead>
                <tbody>
                {% for res in result %}
                    <tr class="padding">
                        <td class="padding text-center">{{ res.type_operation }}</td>
                        <td>{{ res.describe_operation }}</td>
                        <td class="text-center text-muted">{{ res.date_operation|date:"d-m-Y" }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </form>
{% endblock %}