{% extends "base.html" %}
{% block title %}Мои оповещения{% endblock %}
{% block content %}
        {% if mails %}
            {% for mail in mails %}
                <table class="center">
                    <tr class="padding">
                        <td class="padding">
                            Оповещение от: {{ mail.login_user_from }}
                        </td>
                    </tr>
                    <tr>
                        <td class="padding">
                            {{ mail.text_message }}
                        </td>
                    </tr>
                    <tr>
                        <td class="padding">
                            {{ mail.text_more }}
                        </td>
                    </tr>
                    <tr>
                        <td class="padding">
                            {{ mail.creation_date }}
                        </td>
                    </tr>
                    {% if not mail.is_done %}
                        {% if request.user.ie or mail.type_mes == 0%}
                            <tr>
                                <td class="padding">
                                    <a href="acceptrent/{{ mail.id }}">Подтвердить заявку</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="padding">
                                    <a href="rejectrent/{{ mail.id }}">Отклонить заявку</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            
            {% endfor %}
            
        {% else %}
            <table class="center">
                <tr class="padding">
                    <td class="padding">
                        Оповещений нет
                    </td>
                </tr>
            </table>
        {% endif %}
{% endblock %}