{% extends "base.html" %}
{% block title %}Мои объявления{% endblock %}
{% block content %}
    <table class="center">
        {% if houses %}
            <tr class="padding">
                <td class="padding">Название</td>
                <td>Адрес</td>
                <td>Срок аренды(Дней)</td>
                <td>Цена(BYN)</td>
                <td>Площадь(кв.м.)</td>
            </tr>
            {% for h in houses %}
                <tr>
                    <td class="padding">
                        <a href="aboutHouse/{{ h.id }}">{{ h.name }}</a>
                    </td>
                    <td>{{ h.address }}</td>
                    <td>{{ h.min_rent_time }}</td>
                    <td>{{ h.cost }}</td>
                    <td>{{ h.area }}</td>
                    <td class="padding">
                        <a href="add_image/{{ h.id }}">Добавить фото</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="padding">
                    Вы не создавали объявлений.
                    <a href="{% url 'AddRent' %}">Создать объявление</a>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}