{% extends "base.html" %}
{% block title %}Мои объявления{% endblock %}
{% block content %}
    <table class="center">
        {% if houses %}
            <tr class="padding">
                <td class="padding">Название</td>
                <td>Адрес</td>
                <td>Цена(BYN)</td>
            </tr>
            {% for h in houses %}
                <tr>
                    <td class="padding">
                        <a href="aboutHouse/{{ h.id }}">{{ h.name }}</a>
                    </td>
                    <td>{{ h.address }}</td>
                    <td>{{ h.cost }}</td>
                    {% if h.status_rent %}
                        <td class="padding">
                            <a href="edit_my_rent/{{ h.id }}">Редактировать</a>
                        </td>
                        <td class="padding">
                            <a href="delete_my_rent/{{ h.id }}">Удалить</a>
                        </td>
                    {% else %}
                        <td class="padding">
                            <font color="#a9a9a9">Редактировать(Арендовано)</font>
                        </td>
                        <td class="padding">
                            <button class="close" data-toggle="modal" data-target="#myModal"
                                    onclick="owner_del_rent_click({{ h.id }})" style="color: red">&times;</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="padding">
                    Вы не создавали объявлений.
                    <a href="{% url 'AddRent' %}">Создать объявление</a>
                </td>
            </tr>
        {% endif %}
    </table>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="input_func()" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>

    </div>

    <script src="/static/javascript/get.js"></script>
    <script>
        function owner_del_rent_click(id) {
            document.getElementsByClassName('modal-body')[0].innerHTML = get('owner_close_rent/' + id);
            document.getElementsByClassName('modal-title')[0].innerHTML = 'Закрытие аренды';
        }
    </script>
    <script src="/static/javascript/post_choose_payment.js"></script>
{% endblock %}