{% extends "base.html" %}
{% block title %}Мои объявления{% endblock %}
{% block content %}
    <table class="center">
        {% if houses %}
            <tr class="padding">
                <td class="padding">Название</td>
                <td>Адрес</td>
                <td>Цена(BYN)</td>
            </tr>
            {% for h in houses %}
                <tr>
                    <td class="padding">
                        <a href="aboutHouse/{{ h.id }}">{{ h.name }}</a>
                    </td>
                    <td>{{ h.address }}</td>
                    <td>{{ h.cost }}</td>
                    {% if h.status_rent %}
                        <td class="padding">
                            <a href="edit_my_rent/{{ h.id }}">Редактировать</a>
                        </td>
                        <td class="padding">
                            <a href="delete_my_rent/{{ h.id }}">Удалить</a>
                        </td>
                    {% else %}
                        <td class="padding">
                            <font color="#a9a9a9">Редактировать(Арендовано)</font>
                        </td>
                        <td class="padding">
                            <font color="#a9a9a9">Удалить(Арендовано)</font>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="padding">
                    Вы не создавали объявлений.
                    <a href="{% url 'AddRent' %}">Создать объявление</a>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}