{% extends "base.html" %}
{% block title %}Оплата{% endblock %}
{% block content %}
    {% if payments %}
        <div id="response">
            <div class="hidden-center">
                {% for i in payments %}
                    <div>
                        {% if addautopayment %}
                            <input type="button" onclick="func({{ i.id }})" class="button8"
                                   value="Быстрый платеж №{{ i.id }}">
                        {% else %}
                            <form action="payment_info/{{ i.id }}">
                                <input type="submit" class="button8"
                                       value="Быстрый платеж №{{ i.id }}">
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="center">Быстрых платежей нет</div>
    {% endif %}
    {% csrf_token %}
    <script src="/static/javascript/get_auto.js"></script>
{% endblock %}