{% extends "base.html" %}
{% block title %}Оплата{% endblock %}
{% block content %}
    {% load filter_extra %}
    {% if payments %}
        <div class="card-columns">
            {% for i in payments %}
                <div class="card " style="max-width: 22rem;">
                    <img class="card-img-top" src="/static/img/placeholder.svg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Быстрый платеж №{{ i.id }}</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Оплата: {{ i.user_payment|card_num_beautify }}</li>
                        <li class="list-group-item">Сумма: {{ i.amount }} BYN</li>
                    </ul>
                        {% if addautopayment %}
                            <div class="card-block">
                                <button onclick="func({{ i.id }})" class="btn btn-primary btn-block">Выбрать</button>
                            </div>
                        {% else %}
                            <div class="card-block">
                                <form action="payment_info/{{ i.id }}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Подробно">
                                </form>
                            </div>
                            <div class="card-block">
                                <form action="delete_quick_payment/{{ i.id }}">
                                    <input type="submit" class="btn btn-primary btn-block" value="Удалить">
                                </form>
                            </div>
                            <div class="card-block">
                            <form action="edit_quick_payment/{{ i.id }}">
                                <input type="submit" class="btn btn-primary btn-block" value="Редактировать">
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
        </div>
    {% else %}
        <div class="center">Быстрых платежей нет</div>
    {% endif %}
    {% csrf_token %}
    <script src="/static/javascript/get_auto.js"></script>
{% endblock %}