{% extends "base.html" %}
{% block title %}Оплата{% endblock %}
{% block content %}
    {% if payments %}
        <div id="response">
            <div class="center">
                {% for i, payment, amount, to in payments %}
                    <div>
                        {% if addautopayment %}
                            <input type="button" onclick="func({{ i.id }})" class="button9"
                                   value="Тип оплаты: {{ payment }}, цена: {{ amount }} BYN, Аренда: {{ to }}">
                        {% else %}
                            <form action="payment_info/{{ i.id }}">
                                <input type="submit" class="button9"
                                       value="Тип оплаты: {{ payment }}, цена: {{ amount }} BYN, Аренда: {{ to }}">
                            </form>
                        {% endif %}

                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="center">Быстрых платежей нет</div>
    {% endif %}
    {% csrf_token %}
    <script src="/static/javascript/get_auto.js"></script>
{% endblock %}