{% extends "base.html" %}
{% block title %}Пополнение баланса{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <button type="submit" id="butRefill" class="button7">Пополнить баланс</button>
                    <button type="submit" id="butAddCard" class="button7">Добавить карту</button>
                </td>
            </tr>
        </table>
    </form>
    <script>
    var url = document.location.href;
    var butRefill = document.getElementById('butRefill');
    var butAddCard = document.getElementById('butAddCard');
    if (url.localeCompare("http://127.0.0.1:8000/profile/add_card"))
    {
        butAddCard.hidden = true;
        butRefill.hidden = false;
    }
    else
    {
        butAddCard.hidden = false;
        butRefill.hidden = true;
    }
    </script>
{% endblock %}