{% extends "base.html" %}
{% block title %}Пополнение баланса{% endblock %}
{% block content %}
    {% if error %}
        <div class="left">
            <table>
                <tr>
                    <td>
                        <font color="red">{{ error }}</font>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}

    <form method="POST" class="center">
        {% csrf_token %}
        <table>
            {% for field in form %}
                <tr>
                    <td class="padding">{{ field.label }}</td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" id="butRefill" class="btn btn-default" value="Пополнить баланс">
                </td>
            </tr>
        </table>
    </form>
    <script>
    var url = document.location.href;
    url = url.slice(-8);
    var butRefill = document.getElementById('butRefill');
    if (url.localeCompare("add_card") == 0)
    {
        butRefill.value = 'Добавить карту';
    }
    </script>
{% endblock %}