{% load filter_extra %}
<form method="POST" class="center">
    <table>
        {% if cards %}
            {% for card, user_card in cards %}
                <input type="button" class="button8" onclick="fill_balance({{ user_card.card_num }}, {{ type }})"
                       value="{{ card }} ({{ user_card.size|round_f }} {{ user_card.currency_type }})">
            {% endfor %}
            <input type="text" id="amount" placeholder="Сумма" title="Сумма" class="form-control height70 formValid"
                   onfocus="amount_onfocus()" oninput="amount_oninput()">
        {% else %}
            <a class="button8">Нет карт</a>
        {% endif %}
    </table>
    <div id="response" class="narrow-center"></div>
</form>